@font-face {
  font-family: 'kimforsenate';
  src: url('../fonts/kimforsenate.eot?38502737');
  src: url('../fonts/kimforsenate.eot?38502737#iefix') format('embedded-opentype'), url('../fonts/kimforsenate.woff?38502737') format('woff'), url('../fonts/kimforsenate.ttf?38502737') format('truetype'), url('../fonts/kimforsenate.svg?38502737#kimforsenate') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "kimforsenate";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */