.thanks-container
  padding: 30px
  .thanks
    background: white
    width: 50%
    margin-left: 15%
    margin-right: 35
    padding: 30px 20px
    border-radius(3px)

    h1
      color: accent-color
      margin-bottom: 5px

    p
      font-family: 'Alegreya Sans', sans-serif
      font-size: 90%
      margin-bottom: 85px

    .btn
      display: block;
      width: 50%;
      margin: auto;