extends /layouts/_default

block content
  .gallery.video-container(style="background:url('/images/skyline_bg.jpg');background-repeat:no-repeat;background-position-y:-150px;background-size:cover")
    .video-wrapper
      .video-play
        .video-icon-wrapper
          h3 COMING SOON
          i.icon-youtube
      ul.social
        li
          a.social-action.facebook.popup(href="https://www.facebook.com/dialog/feed?app_id=396501730484708&display=popup&caption=About%20Harry%20Kim&link=http%3A//kimforsenate.org/about.html&picture=http%3A//kimforsenate.org/images/kim2.jpg&redirect_uri=http%3A//kimforsenate.org/about.html")
            i.icon-facebook
        li
          a.social-action.twitter.popup(href="https://twitter.com/share?url=http%3A//kimforsenate.org/about.html&text=I%27m%20with%20Harry%20Kim%20for%20Senate%2C%20are%20you%3F ")
            i.icon-twitter
        li
          a.social-action.gplus.popup(href='https://plus.google.com/share?url=http%3A//kimforsenate.org/about.html')
            i.icon-gplus
        li
          a.social-action.email(href="mailto:?body=Check%20out%20Harry%20Kim%2C%20he%27s%20running%20for%20U.S.%20Senate%20in%20Texas.%20I%27m%20standing%20with%20him%2C%20are%20you%3F%20http%3A//kimforsenate.org/about.html&subject=I%27m%20Supporting%20Harry%20Kim%20for%20Senate")
            i.icon-email
  .row.divider
  .row
    .bio
      h1 Hello my fellow Texans,
      p My name is Harry Kim.  I live and work in West Texas, raised my family in Midland, and watched both my children and the state of Texas grow.  I am a Family Doctor by profession.  What has always inspired me about Texas is how big it is, not only it's size, but it's people, their willingness to dream and the greatness of their heart.
      p I am running for U.S. Senate to represent this great state and it's people.  Texas has come a long way. And yet, I believe it's best days are ahead.  But such results do not come with idle dreams, rather by hard work.  
      p For too long, the elected officials have neglected the true needs of our people.  Thus, the true potential of our people were not allowed to show.  They were more concerned with helping their close friends only.  That is not good government.
  .row.background(style="background:url('/images/odessa.jpg');background-attachment:fixed;background-repeat:no-repeat;background-position:center;background-size:cover")
    .background-container
      h1.quote "Put people first"
      h3.attribution HARRY KIM
  .row
    .bio
      h2 For the Future
      p I am running for U.S. Senate as a Democrat because I see what this state and our country can become.  There is so much more to this country and it's people.  And I intend to realize this dream by making the dreams of Texans  and fellow Americans come true.
      p But first, we must work to restore our government, by electing people who will put people first above all else.    If elected as your Senator, my primary focus will be first and foremost the needs of our people so that you and your children can become all that you were meant to be.  That is the Texas way, that is the American way.
      p We must improve our educational system.  For our greatest treasure is not gold, or land, or oil.  Although I am glad this country have them.  It is our CHILDREN.  They are our present and our future.  They are precious for what they will become and what they become will preciously depend on what we do.  We must not fail.
  .row.background(style="background:url('/images/austin.jpg');background-attachment:fixed;background-repeat:no-repeat;background-position:center;background-size:cover")
    .background-container
      h1.quote "Unless all of us are totally free, none of us are truly free."
      h3.attribution HARRY KIM
  .row
    .bio
      h2 Freedom and Stewardship
      p We must increase opportunity among all our people, not just the very few with connections.  Regardless of one's Race, Background, Gender or Orientation, everyone deserves a fair chance.  That is how we become even a greater country.
      p We must share in the notion of Freedom, freedom for all.  Freedom to choose, to determine our own destiny, to pursue our happiness.  Unless all of us are totally free, none of us are truly free.  
      p We must care for each other as we care for our environment.  We must promote the creation of good jobs with good pay, while maintaining good husbandry over good Earth.
      p Furthermore, we must be true to our country and all the men and women who fought for and sacrificed themselves, so that we may enjoy this hard won freedom we value so dearly.  In short, we must be true to ourselves as we are true to each other.
      .cropbox(style="background:url('/images/kim1.png');background-repeat:no-repeat;background-position:center;background-size:cover")

block page-specific-js
  script(type='text/javascript')
    $(document).ready(function() {
      $('a.popup').on('click', function() {
        window.open($(this).attr('href'), 'Share', 'width=500,height=508');
        return false;
      });
    });
