extends /layouts/_default

block content
  .gallery.thanks-container(style="background:url('/images/flag_bg.jpg');background-repeat:no-repeat;background-position-y:0px;background-size:cover")
    .thanks
      h1 Thank You for Signing Up
      p Check your email to confirm addition to the mailing list and you'll hear more from us soon.

      a.btn(href='/') RETURN HOME