// Footer
footer
  .summary
    .links
      .sitemap
        h5 SITE MAP
        ul
          li
            a(href='/') Home
          li
            a(href='/about.html') About
          li
            a(href='/volunteer.html') Volunteer
          li
            a(href='/donate.html') Donate
      .connect
        h5 CONNECT
        ul
          li
            a(href='https://www.facebook.com/harrykimsenate', target='_blank') Facebook
          li
            a(href='https://twitter.com/harrykimsenate', target='_blank') Twitter
          li
            a(href="https://plus.google.com/109664095446566707414", rel="publisher", target='_blank') Google+
          li
            a(href="http://www.youtube.com/user/harrykimsenate", target="_blank") YouTube
          li
            a(href="mailto:press@kimforsenate.com") Email
      .donate
        a.btn(href='/donate.html') DONATE
    .email-updates
      h5 SIGN UP FOR EMAIL UPDATES
      #mc_embed_signup
        form#mc-embedded-subscribe-form-footer.mailchimp(action='http://kimforsenate.us3.list-manage.com/subscribe/post?u=3f93b7784bc7878da686ff32e&id=11ec600eb3', method='post', name='mc-embedded-subscribe-form', target='_self', novalidate='novalidate')
          input#mce-EMAIL(type='email', value='', name='EMAIL', placeholder='Email Address*', parsley-required='true', parsley-type='email')
          input#mce-ZIPCODE(type='text', value='', name='ZIPCODE', placeholder='ZIP Code*', parsley-required='true', parsley-zipcode='true')
          #mce-responses.clear
            #mce-error-response.response(style='display: none;')
            #mce-success-response.response(style='display: none;')
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_3f93b7784bc7878da686ff32e_11ec600eb3', value='')
            input(id='mce-group[6521]-6521-0', type='checkbox', value='1', name='group[6521][1]')
            input(id='mce-group[6521]-6521-1', type='checkbox', value='2', name='group[6521][2]')
            input(id='mce-group[6521]-6521-2', type='checkbox', value='4', name='group[6521][4]', checked)
          .clear
            input#mc-embedded-subscribe.btn(type='submit', value='SUBMIT', name='subscribe')
  .disclaimers-container
    .disclaimer-license
      small.disclaimer Paid for by Harry Kim for Senate Committee
      small.license © 2014 Harry Kim for Senate. All Rights Reserved.
      small.license Design by Patrick Facheris
    .disclaimer-links
      ul
        li
          a(href='/privacy.html') Privacy
        li
          a(href="mailto:press@kimforsenate.com") Contact