header.contain-to-grid
  .container
    .logo
      a(href="/")
        img.image(src="images/logo_image.png", height="110px")
        img.text(src="images/logo_text.png", height="110px")
    .navigation
      .pull-right
        a.link(href="/about.html") ABOUT
        a.link(href="/volunteer.html") VOLUNTEER
        a.btn(href="#") DONATE
  .fold.left
  .fold.right